SUPABASE_ANON_KEY=your-anon-public-key
SUPABASE_URL=https://your-project-id.supabase.co
R2_ACCOUNT_ID=e918621d95bd4f025275ab5514e67753
R2_ACCESS_KEY_ID=6090158ccbc5f5f27741f212bd6594bd
R2_SECRET_ACCESS_KEY=9dfb893c990bec0a60a6ef23ee21efbbed4f267eccba2f137784f3a60df530ac
R2_BUCKET_NAME=lovychat
R2_PUBLIC_DOMAIN=https://lovychat.my.id
