R2_ACCESS_KEY_ID="your_r2_access_key_id"
R2_ACCOUNT_ID="your_r2_account_id"
R2_BUCKET_NAME="lovychat"
R2_PUBLIC_DOMAIN="https://lovychat.my.id"
R2_SECRET_ACCESS_KEY="your_r2_secret_access_key"
POCKETBASE_URL="http://173.249.59.183:8090"
SUPABASE_URL="http://173.249.59.183:8090"
SUPABASE_ANON_KEY="your_supabase_anon_key"
GOOGLE_SERVER_CLIENT_ID="your_google_server_client_id"
IRONSOURCE_APP_KEY="your_ironsource_app_key"
CENTRIFUGO_WS_URL="ws://173.249.59.183:8000/connection/websocket"
CENTRIFUGO_API_URL="http://173.249.59.183:8000/api"
CENTRIFUGO_TOKEN_SECRET="lovi_chat"
CENTRIFUGO_API_KEY="geccko_creator"



