CENTRIFUGO_API_KEY=default_centrifugo_api_key
CENTRIFUGO_API_URL=default_centrifugo_api_url
CENTRIFUGO_TOKEN_SECRET=default_centrifugo_token_secret
CENTRIFUGO_WS_URL=default_centrifugo_ws_url
GOOGLE_SERVER_CLIENT_ID=default_google_server_client_id
IRONSOURCE_APP_KEY=283361415
POCKETBASE_URL=http://173.249.59.183:8090/
R2_ACCESS_KEY_ID=default_r2_access_key
R2_ACCOUNT_ID=default_r2_account_id
R2_BUCKET_NAME=lovychat
R2_PUBLIC_DOMAIN=https://lovychat.my.id
R2_SECRET_ACCESS_KEY=default_r2_secret_key
SUPABASE_ANON_KEY=default_supabase_anon_key
SUPABASE_URL=http://173.249.59.183:8090/